In [67]:
import pandas as pd                 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model

In [84]:


df = pd.read_csv('input/kidney.csv', header=0,error_bad_lines=False,names=['age', 'bp', 'sg', 'al', 'su', 'rb', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sc', 'sod', 'pot', 
 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class'])
pd.options.display.max_columns = None
df.head()

b'Skipping line 71: expected 26 fields, saw 27\nSkipping line 74: expected 26 fields, saw 27\nSkipping line 371: expected 26 fields, saw 27\n'

,age,bp,sg,al,su,rb,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
1,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,36,1.2,?,?,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
2,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,18,0.8,?,?,11.3,38,6000,?,no,no,no,good,no,no,ckd
3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,53,1.8,?,?,9.6,31,7500,?,no,yes,no,poor,no,yes,ckd
4,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,56,3.8,111,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
5,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,26,1.4,?,?,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [86]:
y=df['ane']
X=df.drop(['ane'],axis=1)

In [98]:
# Categorical boolean mask
categorical_feature_mask = X.dtypes==object

# filter categorical columns using mask and turn it into a list
categorical_cols = X.columns[categorical_feature_mask].tolist()

In [88]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder

# instantiate labelencoder object
le = LabelEncoder()

In [89]:
# Apply LabelEncoder on each of the categorical columns:

# apply le on categorical feature columns
X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))

X[categorical_cols].head(10)

,age,bp,sg,al,su,rb,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,class
1,35,8,3,1,0,0,2,1,1,21,63,9,34,42,57,30,69,33,2,2,1,1,1,0
2,59,5,3,4,0,0,2,1,1,145,32,4,34,42,13,24,53,48,1,1,1,1,1,0
3,51,8,1,2,3,2,2,1,1,113,81,15,34,42,114,17,67,48,1,2,1,2,1,0
4,35,7,0,4,0,2,1,2,1,17,84,55,1,0,12,18,59,18,2,1,1,2,2,0
5,39,8,1,2,0,2,2,1,1,6,51,11,34,42,16,21,65,26,1,1,1,1,1,0
6,49,9,2,3,0,0,0,1,1,120,50,8,25,5,23,25,69,24,2,2,1,1,2,0
7,57,7,1,0,0,0,2,1,1,0,82,48,0,15,25,22,89,48,1,1,1,1,1,0
8,11,10,2,2,4,2,1,1,1,111,57,8,34,42,25,30,61,30,1,2,1,1,2,0
9,40,0,2,3,0,2,1,2,1,35,87,16,34,42,8,19,85,20,2,2,1,1,1,0
10,41,9,3,2,0,1,1,2,1,119,4,76,3,10,113,15,15,16,2,2,1,2,1,0

In [91]:
X.shape

(397, 24)

In [92]:
# Instantiate OneHotEncoder object:

# import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
# instantiate OneHotEncoder
ohe = OneHotEncoder(categorical_features = categorical_feature_mask, sparse=False ) 
# categorical_features = boolean mask for categorical columns
# sparse = False output an array not sparse matrix

In [93]:
# Apply OneHotEncoder on DataFrame:

# apply OneHotEncoder on categorical feature columns
X_ohe = ohe.fit_transform(X) # It returns an numpy array

/home/salman/anaconda3/envs/tensorflow_env/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/salman/anaconda3/envs/tensorflow_env/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [94]:
X_ohe

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])